.section {
	height: 220px;
	margin-top: 40px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	text-align: center;
}

.aperitivi,
.drinks,
.main,
.about {
	display: none;
	height: 220px;
	margin-top: 40px;
	font-size: 22px;
}

.about {
	margin-left: 15px;
}
