* {
	font-family: Josefin sans;
	font-size: 18px;
	text-align: center;
	color: $dark_gray;
}

h1 {
	font-family: Amatic sc;
	font-size: 30px;
	color: $mustard;
}

h2 {
	font-family: Bad Script;
	font-size: 30px;
}

h4 {
	font-family: Josefin sans;
	font-size: 16px;
}

h5 {
	font-family: Josefin sans;
	font-size: 14px;
}

header {
	background-color: $blue_gray;
	height: 150px;
	border-bottom: 5px solid $mustard;
	margin-top: 10px;
	@include respond($desktop){
		height:230px;
	}
}

.moving_carousel {
	display: none;
	@include respond($desktop) {
		display: inline;
		margin-top: 40px;
	}
}

.carousel-inner {
	@include respond($desktop) {
		position: absolute;
		margin-left: 200px;
	}
}

.logo {
	padding-top: 10px;
	@include respond($desktop) {
		padding-top: 95px;
	}
}

.logo_info {
	padding-top: 8px;
	color: $black;
	@include respond($desktop) {
		padding-top: 95px;
	}
}